@import url(https://fonts.googleapis.com/css?family=Monda:regular,500,600,700);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul,
li {
    list-style: none;
}

.wrapper {
    font-family: Monda;
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: #FFFFFF;
}


.header>img {
    position: absolute;
    width: 100%;
}


.hedaer__bg {
    filter: blur(1px);
    z-index: -4;
}

.container {
    max-width: 1290px;
    padding: 0 20px;
    margin: 0 auto;
}

.header__colntainer {
    padding: 10px 20px 0;
}

.header__menu {
    border-radius: 25px;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.25);
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left__content,
.menu__nav {
    display: flex;
    align-items: center;
}

.left__content {
    gap: 60px;
}

.menu__nav {
    gap: 38px;
}

.menu__link {
    color: #FFFFFF;
}

.header__search {
    padding: 6px 10px;
    border-radius: 11px;
    background: rgba(217, 217, 217, 0.07);
    display: flex;
    align-self: center;
    gap: 5px;
}

.header__search input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
}


/* Header__content */

.header__content {
    position: relative;
    padding: 60px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.content__left {
    padding-top: 80px;
    text-transform: uppercase;
}

.left-p1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 10px;
    position: relative;
    z-index: -1;
    font-style: italic;

}

.left-p2 {
    font-size: 128px;
    font-weight: 600;
}


.right-p1 {
    position: relative;
    z-index: -1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 136px;
    font-style: italic;
    font-size: 900;
    letter-spacing: 10px;
    text-align: right;
}

.right-p2 {
    font-size: 24px;
    font-weight: 400;
}

.right__icons {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon__role,
.icon__difficulty {
    width: 60px;
    margin-left: auto;
    text-align: center;
}

.btn__border {
    position: relative;
    cursor: pointer;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    background-image: url(img/btn-border.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4.5px;
}

.content__btn {
    padding: 10px 0;
    background-color: #56B5E9;
    color: black;
    font-weight: 700;
}
